@import "./global/header.css";
@import "./utilidades/tipografia.css";
@import './utilidades/cores.css';
@import "./global/global.css";


/* Home */
@import './home/introducao.css';

@import './utilidades/componentes.css'



